
<form #templateForm="ngForm" (ngSubmit)="agregarAlumno()" [ngClass]="{
  'form-invalid': templateForm.invalid,
  'form-valid': templateForm.valid,
  'form-dirty': templateForm.dirty,
  'form-touched': templateForm.touched
}">
  <ion-item>
    <ion-input [(ngModel)]="nuevoAlumno.nombre" name="nombre" required label="Nombre Alumno"></ion-input>
  </ion-item>
  <ion-checkbox [(ngModel)]="nuevoAlumno.asistencia" name="asistencia" required >asistencia</ion-checkbox>
  <ion-button type="submit" >Enviar</ion-button>
</form>

 <ion-list *ngFor="let alumno of alumnos">
  
      <ion-item>
        <ion-label>{{alumno.nombre}}</ion-label>
      </ion-item>

</ion-list>
 

